// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "footnote";

.about-me {
	overflow: hidden;
}

.about-image {
	float: left;
	width:20%;
	min-height: 180px;
	min-width: 180px;
}

.about-content {
	float: right;
	width: 70%;
	display: inline-block;
	min-height: 200px;
	min-width: 500px;
	margin-left: 20px;
}
